zsh/.zsh_history
config/btop/btop.conf
config/btop/btop.log
config/v2raya
config/pulse/**
config/systemd/**
config/clash/**
config/legendary/**
config/configstore/**
config/ok/**
config/simple-update-notifier/**
